@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-image: url('/images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.blur-background {
  backdrop-filter: blur(0.5px); /* Adjust the blur strength */
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@font-face {
  font-family: "Tanha";
  src: url("/fonts/tanha/Tanha.woff") format("woff"),
    url("/fonts/yekan/Yekan.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  font-family: "Tanha", sans-serif;
}